@model List<Pilote>

@if (TempData["success"] != null)
{
    <div id="successMessage" class="alert alert-success" role="alert">
        <h2>@TempData["success"]</h2>
    </div>
}

<div class="row pt-4 pb-3">
    <div class="col-6">
        <h2 class="text-primary">Liste Des Pilotes</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Pilote" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Ajouter Un Pilote
        </a>
    </div>
</div>

<div class="row pt-4 pb-3">
    <div class="col-12 mb-3">
        <input type="text" id="filtreAdressePilote" placeholder="Entrer l'adresse du pilote" class="form-control" style="display: inline-block; width: auto;" />
        <button id="btnFiltrer" class="btn btn-primary">Filtrer</button>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Numero Pilote</th>
            <th>Nom Pilote</th>
            <th>Adresse</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Numpilote</td>
                <td>@obj.Nompilote</td>
                <td>@obj.Adresse</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Pilote" asp-action="Edit" asp-route-id="@obj.Numpilote" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil"></i>Modifier
                        </a>
                        <a asp-controller="Pilote" asp-action="Delete" asp-route-id="@obj.Numpilote" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>Supprimer
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts { 

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const btnFiltrer = document.getElementById('btnFiltrer');
            btnFiltrer.addEventListener('click', function () {
                const term = document.getElementById('filtreAdressePilote').value.trim();
                const rows = document.querySelectorAll('table tbody tr');

                rows.forEach(row => {
                    const adressePilote = row.querySelector('td:nth-child(3)').textContent.trim();
                    if (adressePilote === term) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        });

        $(document).ready(function () {
        
            if ($('#successMessage').length) {
                setTimeout(function () {
                    $('#successMessage').fadeOut();
                }, 3000); 
            }
        });
    </script>
}

</section>